{% extends 'base.html' %}

{% block body %}


<h1 class ="text-center">CREATE </h1>
<form action="/student/{{student.pk}}/update/" method="POST">
    {% csrf_token %}}
    TITLE : <input type="text" name="title" value="{{student.title}}"><br>  <!-- input 할 때 값 미리 채워주는것 value-->
    CONTENT: <textarea name ="content" cols="30" rows="10">
    {{student.content}}
    
    </textarea><br> <!--value 기능? 이따로 없음 :: texetarea 열고 닫히는 구간에 넣어준다--> 
    <input type ="submit">
</form>
<hr>
<a href = "/student/{{student.pk}}/detail/">[BACK] </a>

{% endblock %}