{% extends 'base.html' %}

{% block body %}
{% comment %} {% url 'articles:create' %} {% endcomment %}
<h1 class ="text-center">NEW</h1>
{% comment %} <form action="/articles/create/" method="POST"> {% endcomment %}
<form action="/student/create/" method="POST">
    {% csrf_token %}}
    TITLE : <input type="text" name="title"><br>
    CONTENT: <textarea name ="content" cols="30" rows="10"></textarea><br>
    <input type ="submit">
</form>
<hr>
{% comment %} <a href = "/articles/index">[BACK] </a> {% endcomment %}
<a href = "/student/index">[BACK] </a>

{% endblock %}