<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    #a {
        color :coral
    }
    #b {
        color :mediumvioletred
    }
    #c {
        color :mediumseagreen
    }
    #d {
        color :mediumpurple
    }

    
    </style>
</head>
<body>
        <h4 id="a">{{ user_name }} </h4>님은
       <h4 id="b"> {{ first_html }}</h4> 를 닮고 미래의 배우자는
    <h4 id="c"> {{ second_html }}</h4>이시고 당신의 뮤즈는
    <h4 id="d"> {{ third_html }}</h4>입니다 
</body>
</html>