<div class="jumbotron">
  <h1 class="display-4">{{person.username}}</h1>
  {% comment %} 
  지금 user instance가 다 넘어왓다
  이때 팔로워 뽑을거면?
   person.followers.all  하면 명단 다 뜰거고 length로 필터를 걸면 명 수 가 나온다
    {% endcomment %}
  <p class="lead">팔로워:{{person.followers.all|length}}명 | 팔로잉:{{person.followings.all|length}}명 </p>
  <hr class="my-4">
  {% if user != article.user %}
  <a class="btn btn-primary btn-lg" href="{% url 'articles:follow' article.pk person.pk %}" role="button">
  {% if user in person.followers.all %}
  UNFOLLOW
  {% endif %}
  {% endif %}
  FOLLOW
  </a>
</div>