<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <form action = "/articles/create/" method ="POST">
  {% csrf_token %}
  {{ form.as_p }} <!-- 각각의 태그를 p 태그로 감싸라 -->

  {% comment %} title <br> <input type ="text" name="title">
  <br><br><br>
  content<br> <textarea name ="content" cols="30" rows="10">
  </textarea> {% endcomment %}
  
  <input type = "submit">
  </form>
</body>
</html>