{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width={device-width}, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장고 CRUD</title>
  

  {% bootstrap_css %}

</head>
<body>
    <div class="container">
     <!--회원일 경우 -->
    {% if user.is_authenticated %}
    어서오세요, {{user.username}}</h2>          
    <a href="{% url 'accounts:logout' %}">로그아웃</a>    
    <a href="{% url 'accounts:update' %}">회원정보수정</a>
    <a href="{% url 'accounts:password' %}">비밀번호변경</a>
    <a href="{% url 'accounts:delete' %}">회원탈퇴</a>
    
     <!-- 비회원일 경우 -->
    {% else %}
    <h3>로그인 하셔야 서비스 이용이 가능합니다.</h3>
    <a href ="{% url 'accounts:signup' %}">회원가입</a>
    <a href ="{% url 'accounts:login' %}">로그인</a>

    {% endif %}
    <hr>
    {% block body %}
    {% endblock body %}
  </div>

  {% bootstrap_javascript jquery='full' %}

</body>
</html>