div {
    width : 100px;
    height : 100px;
    background-color: mediumturquoise;
    text-align : Center;
    opacity : 0.5;

}

.none {
    /* visibility : hidden; */
    display : none;
}

.hidden {


}